<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <img id="preview-image" src="<%= typeof images != `undefined` ? images : '' %>">
    <table>
        <tr>
            <th>Fieldname :</th>
            <td><%= typeof fieldname != `undefined` ? fieldname : '' %></td>
        </tr>
        <tr>
            <th>Originalname :</th>
            <td><%= typeof originalname != `undefined` ? originalname : '' %></td>
        </tr>
        <tr>
            <th>Mimetype :</th>
            <td><%= typeof mimetype != `undefined` ? mimetype : '' %></td>
        </tr>
        <tr>
            <th>Destination :</th>
            <td><%= typeof destination != `undefined` ? destination : '' %></td>
        </tr>
        <tr>
            <th>Filename :</th>
            <td><%= typeof filename != `undefined` ? filename : '' %></td>
        </tr>
        <tr>
            <th>Path :</th>
            <td><%= typeof path != `undefined` ? path : '' %></td>
        </tr>
        <tr>
            <th>Size :</th>
            <td><%= typeof size != `undefined` ? size : '' %></td>
        </tr>
    </table>
</body>
</html>